<h2>Movies</h2>
<hr>

<div action="" class="form inline">
  <div class="flex-fill pr-3">
    <div class="input-group mb-2">
      <div class="input-group-prepend">
        <div class="input-group-text">Filtro: </div>
      </div>
      <input type="text" class="form-control" placeholder="Filter list"
        >
    </div>
  </div>
</div>
<table class="table table-striped">
  <thead class="thead-dark">
    <th>#</th>
    <th>image</th>
    <th>tema</th>
    <th>data</th>
    <th>quantida</th>
    <th>lote</th>
    <th>options</th>
    <th></th>
  </thead>
  <tbody *ngIf="movies">
    <tr>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
  </tbody>
  <tfoot *ngIf="!movies">
    <tr>
      <td colspan="8">
        <h4>Para visualizar os filmes acesse com um usuario</h4>
      </td>
    </tr>
  </tfoot>
</table>
<!-- {{ movies.data.results | json }} -->
