<div class="row mt-4">

  <div class="col-md-6 d-none d-md-block" style="height: 450px;">
    <div class="text-center col-md-12 my-auto side-heder">
      <h1>Cadastro de Usuário</h1>
      <img src="../../../../assets/registerImage.png" class="my-4" alt="" width="400px">
    </div>
  </div>

  <div class="col-md-6">
    <form [formGroup]="form" class="p-1" (ngSubmit)="register()">
      <div class="pb-2 d-block d-md-none">
        <h3 class="border-bottom">Cadastro de Usuário</h3>
      </div>
      <div class="form-row">
        <div class="form-group col-sm-6">
          <label>Nome</label>
          <input type="text" class="form-control" formControlName="name" [ngClass]="{'is-invalid': f.name?.errors && f.name.touched}"
            placeholder="Nome do Perfil Principal" />
        </div>
      </div>
      <div class="form-group">
        <label for="">Email:</label>
        <input class="form-control" type="text" [ngClass]="{'is-invalid': f.email?.errors && f.email?.touched}" formControlName="email" placeholder="" />
      </div>
      <div class="form-row">
        <div class="form-group col-sm-6">
          <label for="">Senha:</label>
          <input class="form-control" type="password"
            [ngClass]="{'is-invalid': f.password?.errors.required && f.password?.touched}" formControlName="password" placeholder="Digite uma Senha" />
        </div>
        <div class="form-group col-sm-6">
          <label for="">Senha:</label>
          <input class="form-control" type="date"
            [ngClass]="{'is-invalid': f.birthday?.errors.required && f.birthday.touched}" formControlName="birthday" placeholder="Data nascimento" />
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-12">
          <button class="btn btn-lg btn-success btn-block px-5">
            Registar
          </button>
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-12">
          <a class="btn btn-link btn-block" routerLink="users/login">
            Já sou Cadastrado
          </a>
        </div>
      </div>
    </form>

  </div>
</div>
